@mixin flipInY($duration: .3s, $function: ease-in-out, $delay: 0s, $iteraions: 1, $direction: normal, $fill: both, $play_state: running ) {
  backface-visibility: visible;
  animation: flipInY $duration $function $delay $iteraions $direction $fill $play_state;
}

@mixin flipOutY($duration: .2s, $function: ease-in-out, $delay : 0s, $iteraions: 1, $direction: normal, $fill: both, $play_state: running) {
  backface-visibility: visible;
  animation: flipOutY $duration $function $delay $iteraions $direction $fill $play_state;
}

@keyframes flipInY {

  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transition-timing-function: ease-in;
  }

  100% {
    visibility: visible;
    opacity: 1;
    transform: perspective(400px);
  }

}

@keyframes flipOutY {

  0% {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1;
  }

  100% {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    visibility: hidden;
    opacity: 0;
  }
}
